header, footer {
    background-color: green;
    color: #f6ff33;
    padding: 20px;
    text-align: center;
       
}


class1 {
    padding-top:10px;
    font-weight: bold;
}

h2 {
    color: green;
}

nav {
    background-color: #222;
}

article {
    padding: 10px;
    background-color: #eee;
}
h3 {
    padding-left: 1em;
}


